<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Article</title>
</head>
<body>
  <div>
    <h1>Article</h1>
    <h2><%= title %></h2>
    <div>
      <span>by: <a href="mailto:<%= author.email %>"><%= author.name %></a>, post at: <%= publication_time %></span>
    </div>
    <div>
      <%- refineContent(content) %>
    </div>
    <div>
      <span> Tags: <%= tags %></span>
    </div>
    <div>
      <span> read: <%= meta.reads %> </span>
      <span> likes: <%= meta.likes %> </span>
      <span> up votes: <%= meta.up_votes %> </span>
      <span> down votes: <%= meta.down_votes %> </span>
    </div>
  </div>
</body>
</html>